* {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

header {
  background-color: #36b679;
  height: 200px;
  padding: 20px;
  position: relative;
}

menu {
  position: absolute;
  top: 20px;
  right: 20px;
}

menu a {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: #666;
  font-size: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-left: 15px;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 42px;
  color: white;
  position: absolute;
  bottom: 40px;
  left: 20px;
}

main {
  background-color: white;
  min-height: calc(100vh - 200px);
  padding: 0;
}

.addNew {
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
}

.addNew input {
  width: calc(100% - 60px);
  height: 40px;
  border: none;
  outline: none;
  font-size: 16px;
  padding-left: 50px;
  color: #666;
}

.addNew input::placeholder {
  color: #999;
}

.addNew::before {
  content: "+";
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #999;
}

.addNew button {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.addNew button i {
  font-size: 32px;
  color: #36b679;
  border-radius: 100px;
}

.addedElements {
  padding: 20px;
  border-bottom: 1px solid #f0f0f0;
  position: relative;
}

.addedElements input[type="checkbox"] {
  width: 24px;
  height: 24px;
  border: 2px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.addedElements label {
  display: inline-block;
  margin-left: 50px;
  text-align: left;
  font-size: 16px;
  color: #333;
  width: calc(100% - 120px);
}

.addedElements ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.addedElements li {
  text-align: left;
}

.addedElements .resetOnlyOne {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #999;
  font-size: 18px;
  padding: 5px;
}

.addedElements .resetOnlyOne:hover {
  color: #e74c3c;
}
