* {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  background-image: url("../assets/images/Banner\ to\ do\ \(1\).jpg");
  background-repeat: no-repeat;
  height: 200px;
  padding: 40px;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 42px;
  color: white;
  text-align: left;
  margin-top: 80px;
}
